main{
    margin-left: 350px;
    flex: 1;
}

main ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style: none;
}

@media only screen and (max-width: 1000px){
    main{
        margin-left: 0;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 600px){
    main ul{
        grid-template-columns: 1fr;
    }
}