aside{
    width: 320px;
    margin-bottom: 30px;
    background: #fff;
    box-shadow: 0 0 14px 0 rgba(0,0,0, 0.2);
    border-radius: .8rem;
    padding:  30px 20px;
    position: fixed;
}

aside strong{
    font-size: 1.4em;
    text-align: center;
    display: block;
    color: #333;
}

aisde form{
    margin-top: 30px;
}

aside form .input-block{
    margin-top: 20px;
}

aside form .input-block label{
    color: #acacac;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}

aside form .input-block input{
    width: 100%;
    height: 32px;
    font-size: 1em;
    color: #666;
    border: 0;
    border-bottom: 1px solid #eee;
    outline: none;
}

aside form .input-block textarea{
    margin-top: 7px;
    width: 100%;
    height: 200px;
    font-size: 0.8em;
    border: 0;
    color: #666;
    border-bottom: 1px solid #eee;
    background: #fff;
    resize: none;
    outline: none;
}

aside form button{
    width: 100%;
    border: 0;
    margin-top: 30px;
    background: #FFD3CA;
    border-radius: 1.2rem;
    padding: 15px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}